@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

input{
    border: solid rgb(173, 172, 172) 1px;
    border-radius: 3px;
    padding: 0.5%;
    background-color: rgb(248, 248, 236);
}

.titelInput{
    font-size: 2rem;
    font-weight: 500;
}
.roomInput{
    font-size: 1.1rem;
}
.descriptionHeadInput{
    font-size: 1.6rem;
}
.textfieldInput{
    width: 518px;
    margin-bottom: 3%;
    height: 100px;
    hyphens: auto; 
	text-align: justify;
    font-size: 1rem;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    border: solid rgb(173, 172, 172) 1px;
    border-radius: 3px;
    padding: 0.5%;
    background-color: rgb(248, 248, 236);
}



.InventoryCardDetailsContainer{
    display: flex;
    align-items: center;
    border: solid rgb(173, 172, 172) 2px;
    margin: 2% 2%;
    border-radius: 5px;
    width: 75vw;
    height: 47vh;
    margin: 5% auto;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    border: solid rgb(173, 172, 172) 1px;
    border-radius: 3px;
}


.ICD-img-container{
    display: flex;
    flex-direction: column;
    height: 47vh;
}

.ICD-img-container img{
    height: 46.7vh;
    width: 260px;
    padding-top: 0.8%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} 

.imgInputDiv{
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.imgInput{
    margin-top: 1.2%;
}


.InventoryDetailsForm{
    display: flex;
    align-items: center;
}

.imgBtn{
    margin-bottom: auto;
    width: 25px;
    margin-left: 2%;
    margin-top: 2%;
}

.ICD-text-container{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    padding: 2%;
    height: 47vh;
}

.ICD-text-edit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ICD-text-edit button{
    margin-left: 5%;
    margin-right: 2%;
    border: solid rgb(173, 172, 172) 1px;
    border-radius: 3px;
    padding: 0.5%;
    background-color: rgb(248, 248, 236);
} 


.ICD-text-edit h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 7%;
    margin-top: 7%;
}

.ICD-text-edit h5{
    font-size: 1.1rem;
    margin-bottom: 7%;
    margin-top: 7%;
}

.ICD-text-edit h4{
    font-size: 1.6rem;
    margin-bottom: 7%;
    margin-top: 7%;
}

.ICD-text-edit p{
    font-size: 1rem;
    margin-bottom: 4%;
    margin-top: 2%;
}

/* .updateBtn{
    margin-left: 0;
} */

button{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin-bottom: 1%;
    border: solid rgb(173, 172, 172) 1px;
    border-radius: 3px;
    padding: 1%;
    background-color: rgb(248, 248, 236);
} 

.hideMe{
    opacity: 0;
    visibility: hidden;
    display: none;
}