@font-face {
	font-family: "Montserrat";
	src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

header {
	background-color: rgb(221, 177, 124);
	height: 20vh;
	width: 100vw;
}

.headline {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 3.2rem;
	font-weight: 400;
	padding: 20px 0;
}

.categoryLinksContainer {
	display: flex;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	height: 80vh;
}

.categoryLinksContainer a {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 2rem;
	color: black;
	font-weight: 300;
}

.categoryLinksContainer img{
    height: 300px;
    width: 330px;
}