* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

button,
.button {
	padding: 8px;
	margin-top: 8px;
	min-width: 120px;
	max-width: 120px;
}
