@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

.popup {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0px 0px 1px 0px black;
	margin: 3px;
	display: flex;
	background-color: #ffffff80;
}

.popup > div {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin: auto;
	background-color: white;
	align-content: center;
	align-items: flex-start;
	max-width: 375px;
	box-shadow: 0px 0px 1px 0px black;
}

.popup form {
	padding: 20px;
	/* 	min-width: 500px;
 */
	max-width: 100%;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;

}

.popup form > div {
	display: flex;

	flex-direction: column-reverse;
}

.popup form > div:first-child {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.popup form > div label {
	display: block;
	visibility: hidden;
	opacity: 0;
	transform: translateY(20px);
	transition: all 0.3s ease-in-out;
}

.popup input {
	border: 1px solid;
	position: relative;
	z-index: 1;
	padding: 8px;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.popup input:focus ~ label {
	transform: translateY(0px);
	visibility: visible;
	opacity: 1;
}

span.cross {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	position: relative;
	width: 15px;
	height: 15px;
	margin: 10px;
	padding: 5px;
	display: block;
	cursor: pointer;
}

span.cross:after,
span.cross:before {
	content: "";
	position: absolute;
	top: calc((15px - 1px) / 2);
	left: 0;
	right: 0;
	height: 1px;
	background: black;
	border-radius: 1px;
}

span.cross:before {
	transform: rotate(45deg);
}

span.cross:after {
	transform: rotate(-45deg);
}
