@font-face {
	font-family: "Montserrat";
	src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

.InventoryCardContainer {
	display: flex;
	align-items: center;
	border: solid rgb(173, 172, 172) 2px;
	width: 60vw;
	border-radius: 5px;
	margin-bottom: 2%;
    height: 230px;
}

.InventoryCardImg img{
    height: 229px;
    width: 260px;
    padding-top: 1%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}  



.InventoryCardText {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	padding: 2%;
	position: relative;
}

.InventoryCardText h3 {
	font-size: 2rem;
	font-weight: 500;
    margin-bottom: 2%;
}

.InventoryCardText h5{
    font-size: 1.1rem;
    margin-bottom: 2%;
}

.InventoryCardText h4{
    font-size: 1.6rem;
    margin-bottom: 2%;
}

.InventoryCardText p{
    font-size: 1rem;
    margin-bottom: 4%;
}

.InventoryCardText a{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin-right: 2%;
    border: solid rgb(173, 172, 172) 1px;
    border-radius: 3px;
    padding: 1%;
    background-color: rgb(248, 248, 236);
    text-align: right;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
